includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    stubFiles:
        - tests/Pest.php
    traits:
        Harrisonratcliffe\LaravelApiResponses\Tests\UsesApiResponses:
            - Orchestra\Testbench\TestCase 